<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="solarSystem">
            <h2><span jhiTranslate="solarSystemApp.solarSystem.detail.title">Solar System</span> {{solarSystem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="solarSystemApp.solarSystem.systemName">System Name</span></dt>
                <dd>
                    <span>{{solarSystem.systemName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/solar-system-my-suffix', solarSystem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
